      <!-- header-->
      <header class="cv-head-1 no-sticky" id="header">
        <div id="top"></div><!-- nav-->
        <div class="no-sticky" id="page-menu">
          <div id="page-menu-wrap">
            <div class="container clearfix">
              <nav class="with-arrows">
                <ul class="demo-site">
                  <li class="menu-item"><a href="index.html">Главная</a></li>
                  <li class="menu-item"><a href="o-kompanii.html">О компании</a></li>
                  <li class="menu-item menu-item-has-children"><a href="my-predlagaem.html">Мы предлагаем</a>
                    <ul class="sub-menu">
                      <li class="menu-item"><a href="tokarnaia-obrabotka.html">Токарная обработка</a></li>
                      <li class="menu-item"><a href="shlifovka-metalla.html">Шлифовка металла</a></li>
                      <li class="menu-item"><a href="zubofrezernaia-obrabotka.html">Зубофрезерная обработка</a></li>
                    </ul>
                  </li>
                  <li class="menu-item"><a href="otzyvy-o-nas.html">Отзывы о нас</a></li>
                  <li class="menu-item"><a href="contact.html">Контакты</a></li>
                </ul>
              </nav>
              <div id="page-submenu-trigger"><i class="icon-reorder"></i></div>
            </div>
          </div>
        </div><!-- nav end-->
        <div class="container clearfix bottompadding-xs toppadding-xs">
          <!-- logo-->
          <div id="logo">
            <div class="logo_desc">
              <div class="toppadding-xs" id="site_name"><a href="index.html"><img src="assets/images/logo.png" alt="Металлоизделия и металлоконструкции - МеталлТехПро"></a></div>
              <div id="site_description">Металлоизделия и металлоконструкции</div>
            </div>
          </div><!-- logo end-->
          <div class="btn-holder pull-right media-desktop leftmargin-minier"><button class="dialog_open pull-right button button-rounded button-large button-circle button-circle" type="button" data-url="basic.html">Обратный звонок</button></div>
          <ul class="header-extras">
            <li><i class="i-plain icon-map-marker nomargin color"></i>
              <div class="he-text">Адрес <span class="text-muted">Ул. Новогиреевская, д.8</span></div>
            </li>
            <li><i class="i-plain icon-call nomargin color"></i>
              <div class="he-text">Телефон <span class="text-muted">+7 (499) 112 41 64</span><span class="text-muted">+7 (977) 830 28 29</span></div>
            </li>
          </ul>
        </div>
      </header>
      <!-- header end-->